<input (change)="onSelectProject($event)" id="selectProject" type="file" class="filestyle" data-badge="false" data-input="false" data-buttonText="Projekt öffnen" webkitdirectory>
<p-tieredMenu *ngIf="contentItems != null" [model]="contentItems"></p-tieredMenu>
<p-tree *ngIf="treeItems.length != 0" [value]="treeItems" selectable="true" selectionMode="single" [selection]="selectedNode"  (onNodeSelect)="onNodeSelect($event)"></p-tree>
