<div *ngIf="docTypeData != null">
  <h2>{{docTypeData.label}}</h2>

  <form #contentForm="ngForm" (ngSubmit)="onSubmit(contentForm)" novalidate>
    <div class="ui-g ui-fluid" *ngFor="let field of docTypeData.fields; let i=index;">
      <div class="ui-g-12 ui-md-4">
        <label for="{{field.id}}">{{field.label}}</label>
        <p *ngIf="activeFormData != null">Aktueller Inhalt: {{activeFormData.data[field.id]}}</p>
        <input ngModel name="{{field.id}}" *ngIf="field.type == 'string'" id="{{field.id}}" type="text" pInputText />
        <p-editor ngModel name="{{field.id}}" *ngIf="field.type == 'richtext'" id="{{field.id}}"></p-editor>
        <p-inputSwitch ngModel name="{{field.id}}" *ngIf="field.type == 'boolean'" id="{{field.id}}"
                       onLabel="Yes" offLabel="No"></p-inputSwitch>
        <input [(ngModel)]="items" name="items" *ngIf="field.type == 'link'" pDroppable="files" (onDrop)="onDropFile($event)"
               type="text" id="items" class="link-field" pInputText
               placeholder="Ziehen Sie Inhalte aus der Bibliothek hierher."/>
      </div>
    </div>
    <p-dialog header="Content speichern" [(visible)]="display">
      <label for="savePath">Bitte geben Sie einen Dateinamen an
        (ggf. auch mit dem gewünschten Pfad, ausgehend vom Ordner <em>content/{{docTypeData.type}}s</em>): </label><br/>
      <input [(ngModel)]="savePath" name="savePath" id="savePath" type="text" pInputText placeholder="z.B. ordner/dateiname"
             required/>
      <p-button type="submit" label="Speichern"></p-button>

    </p-dialog>
  </form>
  <p-button type="text" (click)="showSaveDialog()" label="Speichern"></p-button>
  <p-growl [(value)]="msgs"></p-growl>
</div>

